body{
    box-sizing: border-box;
}

.dashboard-container{
    border: 3px solid #48CAE4;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.data-element {
    border: 3px solid #001845;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    margin: 10px;
    /* flex-grow: 1; */
    height: 150px;
    color: #001845;
    background-color: #C4C4C4;
    line-height: 150px;
    font-size: 30px;
    font-weight: 600;
}
